.card-header{
    padding: 1rem 1.25rem !important;
}
.btn-create{
    padding: 5px 15px;
    background: white;
    border-radius: 6px;
    color: black !important;
}
.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
    color: black !important;
}
.dark-mode select {
    color: black;
}
.swal2-actions button{
    width: 80.13px;
    height: 44px;
    padding: unset;
}


.table.dataTable td {
    font-size: 12px;
}

table th{
    vertical-align: middle !important;
    text-align: center;
}

table td{
    vertical-align: middle !important;
}
